/* Aside */
aside{
	width:350px;
	min-height:200px;
	display:inline-block;
	vertical-align:top;
	margin-left:70px;
}
.aside_block{
	width:100%;
	border: 1px solid;
	padding-bottom: 20px;

}

.aside_block a > h4{
	text-align:center;
	margin:2px 2px 15px 2px;
	font-size:15px;
	border:1px solid;
}

.aside_block a> h4:hover{
	color:rgb(12, 231, 103);
}
.aside_block ul{
	list-style:none;
	width:100%;
	
}
.aside_block > ul > li{
	display:inline-block;
	width:48%;
}
.aside_block_sp{
	display:block;
	width:100%;
	margin:15px 0px 15px 0px;
}
.aside_block_sp:hover h5{
	color:rgb(247, 10, 10);
}
.aside_block_sp > a > img{
	display:block;
	margin:0px auto;
	width:40%;
}
.aside_block_sp > h5{
	display:block;
	text-align:center;
}
.aside_block p{
	font-size:12px;
	height:18px;
	padding:12px;
}