/* Header: Search + nav */
header{
	width:100%;
	display:block;
}
.top_header{
	width:100%;
	display:block;
}
.logo{
	display:inline-block;
}
.logo img{
	width:550px;
	padding-top:50px;
	padding-left:50px;
	
}
.search{
	display:inline-block;
	vertical-align:top;
	position:relative;
	top:20px;
	left:300px;
}
.search form{
	border: 1px solid #CCC;
	clear:both;
}
.search input[name="search"]{
	width:200px;
	padding: 0 20px;
	font-size:12px;
	border:none;
	border-right: 1px solid #ccc;
}
.search input[name="search"]:focus {
	box-shadow: none; 
	outline: none;
}
.search input[type="submit"]{
	background:url(../img/icon-search.png) no-repeat center;
	width: 50px;
    height: 29px;
	border:none;
	cursor: pointer;
	text-indent: -99999px;
}
/*====================*/
nav{
	width:100%;
	display:block;
	height:35px;
	border:1px solid;
}
nav ul{
	list-style:none;
}
nav > ul > li{
	display:inline-block;
	width:135px;
	text-align:center;
	position:relative;
	vertical-align:middle;
	height:35px;
}
nav > ul > li:hover{
	background-color:rgb(46, 225, 238);
}
nav > ul li:hover nav > ul li > a{
	color:rgb(243, 10, 10);
}
nav > ul > li h3{
	font-size:15px;
}
.home_nav{
	width:40px;
	height:35px;
	overflow:hidden;
}
.home_nav img{
	width:70%;
	position:relative;
	top:3px;
	left:0px;
}
.home_nav_col{
	border:1px solid;
	position:absolute;
	width:290px;
	background:#FFF;
	display:none;
}
nav > ul > li:hover .home_nav_col{
	display:block;
}
.home_nav_col_sub{
	display:inline-block;
	width:130px;
	border:none;
	vertical-align:top;
	margin:10px 0px 10px 10px;
	border-right:1px dashed;
}
.home_nav_col_sub ul{
	list-style:none;
}
.home_nav_col_sub > ul > li{
	text-align:left;
	font-size:12px;
	height:25px;
}
.home_nav_col2{
	border:1px solid;
	position:absolute;
	width:160px;
	background:#FFF;
	display:none;
}
nav > ul > li:hover .home_nav_col2{
	display:block;
}
.home_nav_col_sub2{
	display:inline-block;
	width:100%;
	border:none;
	vertical-align:top;
	margin:10px 0px 10px 10px;
}
.home_nav_col_sub2 > ul > li{
	text-align:left;
	font-size:12px;
	height:25px;
}