/* Content: content_main */

.content_main_block{
	width:850px;
	border:1px solid;
	margin:20px;

	display:block;
	
}
.content_main_block > h4{
	margin-left:30px;
	font-size:1.6em;
	border-bottom:1px rgb(16, 238, 83) dotted;
	margin-bottom:20px;
	margin-top:20px;
	width:720px;
	
}
.content_main_block_list{
	display:block;
	width:100%;
	margin-left:25px;
}
.content_main_block_list_sp{
	display:inline-block;
	width:130px;
	margin:30px 13px 13px 3px;
	/* dãn các sản phẩm */
	padding:5px 5px;
	border:1px solid rgba(239, 241, 236, 0);
}
.content_main_block_list_sp:hover{
	border:1px solid rgb(13, 212, 40);
	/* khi con trỏ chuột chạn vào sản phẩm thì hiện ra ô vuông và có viền xanh */
}
.content_main_block_list_sp > a > img{
	width:85%;
	margin-left:10px;
}
.content_main_block_list_sp h4{
	text-align:center;
	color:rgb(10, 240, 60);
	margin-top:5px;
}
.content_main_block_list_sp:hover h4{
	color:red;
}
.content_main_block_list_sp:hover h6{
	color:red;
}

.content_main_block_list_sp h6{
	text-align:center;
	color:rgb(22, 230, 67);
	margin-top:1px;
	font-size:11px;
}
.content_main_block_list_next{
	width:100px;
	display:inline-block;
	margin:0px 10px 10px 0px;
	padding:5px 5px;
}