
/* CSS Document */
*{
	margin: 0px;
	padding:0px;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
a{
	color:black;
	text-decoration:none;
	line-height:35px;
}
a:hover{
	color:rgb(236, 16, 16);
}
#main{
	width:1300px;
	margin:0px auto;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #999;
	border-top:none;
}
.content{
	width:100%;
	min-height:800px;
}
.content_main{
	width:850px;
	min-height:200px;
	display:inline-block;
}
.banner1{
	top:10px;
	left:25px;
	position:fixed;
}
.banner2{
	right:25px;	
	top:10px;
	position:fixed;
}